.img-absolute {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    transition: opacity .3s;

    &:hover {
        opacity: 0;
    }
}

.vr_main {
    width: 104%;
    height: 71vh;
    border: none;
}

.index-arrow {
    margin-top: 0;
    height: 5rem;
}