.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));

    @media screen and (max-width: 550px){
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }

    .portfolio-item {
        height: 455px;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            filter: saturate(100%);
            object-fit: cover;
            transition: filter .2s, transform .2s;
        }


        .overlay {
            position: relative;
            top: -455px;
            height: 455px;
            background-color: rgba(black, .6);
            opacity: 0;
            padding: 1em;
            border-left: 4px #fdb100 solid;

            transition: opacity .2s ease-in;

            h2 {
                color: white;
                font-size: 5em;
                text-align: center;
            }

            span {
                color: white;
                font-size: 1em;
                text-align: center;
            }

        }

        &:active,
        &:hover {
            .overlay {
                opacity: 1;
            }

            img {
                filter: saturate(5);
                transform: scale(1.1);
            }
        }
    }
}

.circle-button {
    padding: 2em;
    text-decoration: none;
    background-color: #fdb100;
    color: white;
    position: relative;
    top: 5em;
    left: 25em;



    transition: color .2s, background-color .2s;

    &:active,
    &:hover {
        background-color: white;
        color: #fdb100;
    }
}
