.contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;

    @media screen and (max-width: 1000px){
        width: 500px;
        grid-template-columns: repeat(2, 1fr);
    }

        @media screen and (max-width: 500px){
        width: 250px;
        grid-template-columns: 1fr;
    }

    &-info {
        background-color: $bodyBg;
        padding: 1em;
        width: 250px;
        line-height: 1px;

        &__icon {
            margin-right: 20px;

            i,
            span {
                font-size: 40px;
                color: $primary-color;
            }
        }

        h3 {
            font-size: 1rem;
            font-weight: 300;
            color: $primary-color;

            a {
                color: $primary-color;
            }
        }
    }
}

.contact-container {
    background-size: cover;
    height: 80vh;
}
