{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static 'vendor/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'hamburger.html' %}
{% include "header_small.html" %}

<section class="margin-after-header-small">
    <div class="topsection">
        <div class="photo-grid">
            <div class="photo-wraper"><img src="{% static "img/hero_1.jpg" %}" alt=""></div>
            <div class="photo-wraper"><img src="{% static "img/hero_1.jpg" %}" alt=""></div>
            <div class="photo-wraper"><img src="{% static "img/hero_1.jpg" %}" alt=""></div>
        </div>
        <div class="description">
            <h3 class="section-intro__subtitle bottom-border">Words we live by</h3>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae cupiditate eius eum eveniet
                expedita maiores non nulla odio, omnis possimus quam, saepe sint tempora temporibus totam unde ut
                veritatis.
            </span>
        </div>
    </div>
    <div class="partners">
        <h3 class="section-intro__subtitle bottom-border-center">Partners</h3>
        <span>Lorem benis dolor denis namet</span>
        <div class="partners-grid">
            <img src="{% static "img/LOGO_FIN.png" %}" alt="">
            <img src="{% static "img/LOGO_FIN.png" %}" alt="">
            <img src="{% static "img/LOGO_FIN.png" %}" alt="">
            <img src="{% static "img/LOGO_FIN.png" %}" alt="">
            <img src="{% static "img/LOGO_FIN.png" %}" alt="">
            <img src="{% static "img/LOGO_FIN.png" %}" alt="">
        </div>
    </div>
</section>

{% include 'footer.html' %}

<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>


<script>

    var dropToggle = $('.menu_right > li').has('ul').children('a');
    dropToggle.on('click', function () {
        dropToggle.not(this).closest('li').find('ul').slideUp(200);
        $(this).closest('li').children('ul').slideToggle(200);
        return false;
    });

    $(".toggle_icon").on('click', function () {
        $('body').toggleClass("open");
    });
</script>
</body>
</html>