{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:site_name" content="Dark Render"/>
    <meta property="og:title" content="DARK-RENDER is a creative studio that produces high-end visualizations. "/>
    <meta property="og:description"
          content="DARK RENDER is based in the beautiful city of Lviv, where historical buildings hide a buzzing party, food and art scene.The DARK RENDER team is comprised of a diverse and skillful group of professionals who hail from over 4 different countries."/>
    <meta property="og:url" content="https://dark-render.com/">
    <meta property="og:type" content="art-studio"/>
    <meta property="og:image" content="{% static 'img/index/portret.png' %}">
    >

    <title>Contact</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% include 'hamburger.html' %}

{% include "header_small.html" %}


<section class="margin-after-header-small">
    <div class="contact-container" style="">
        <video autoplay muted loop id="video">
            <source src="{% static "video/Video_8.mp4" %}" type="video/mp4">
        </video>
        <div class="contact-grid" style="/*background-image: url({% static 'img/index/1.jpg' %})*/ ">
            <div class="contact-details text-center">
                <h2 class="text-center section-intro__subtitle bottom-border align-items-center fs-2">Company
                    details</h2>
                <ul>
                    <li>Email: info@dark-render.com</li>
                    <li>Location: 53-332 Lviv. Ukraine
                    </li>
                    <li>Number(WhatsApp): +380993799877</li>
                    <li>WORKING HOURS:
                        <br>Monday-Friday 11:00 – 18:30
                    </li>
                </ul>
                <ul class="social-icons mt-2 mt-sm-0">
                    <li><a href="#/"><i class="fab fa-facebook-f" target="_blank"></i></a></li>
                    <li><a href="#/"><i class="fab fa-twitter" target="_blank"></i></a></li>
                    <li><a href="https://www.instagram.com/darkrender.studio/" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.behance.net/darkrender" target="_blank"><i class="fab fa-behance"></i></a>
                    </li>
                </ul>
            </div>
            <div class="contact-grid-form">
                <h2 class="text-center section-intro__subtitle bottom-border align-items-center fs-2">Or contact us
                    right now</h2>
                <span style="text-transform: none;" class="text-white d-block text-center section-intro__title d-block">Dark-Render is based in Lviv. We collaborate with architects, designers and real estate agencies around the world. We speak English, Russian . Contact us to book our services or to ask any questions, we will be very happy to hear from you!</span>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-grid">
                        <div class="input-group">
                            <label class="full-label required" for="first_name">First Name</label>
                            <input required name="first_name" id="first_name" type="text">
                        </div>
                        <div class="input-group">
                            <label class="full-label required" for="last_name">Last Name</label>
                            <input required name="last_name" id="last_name" type="text">
                        </div>
                        <div class="input-group">
                            <label class="full-label required" for="email">E-mail</label>
                            <input required name="email" id="email" type="email">
                        </div>
                        <div class="input-group">
                            <label class="full-label required" for="whatsapp">WhatsApp</label>
                            <input required name="whatsapp" id="whatsapp" type="text">
                        </div>
                    </div>
                    <label class="full-label required" for="message">Your message here</label>
                    <textarea required rows="5" name="message" id="message"
                              type="text"></textarea><br>
                    <button class="block-center btn btn--rightBorder btn--leftBorder" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

{#{% include 'footer.html' %}#}


<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>

<script>
    var dropToggle = $('.menu_right > li').has('ul').children('a');
    dropToggle.on('click', function () {
        dropToggle.not(this).closest('li').find('ul').slideUp(200);
        $(this).closest('li').children('ul').slideToggle(200);
        return false;
    });

    $(".toggle_icon").on('click', function () {
        $('body').toggleClass("open");
    });
</script>
</body>
</html>
