<footer class="footer footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0 text-center text-sm-left">
                <h3 class="footer__title">Quick Links</h3>
                <ul class="footer__link">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>


        </div>
        <div class="d-sm-flex justify-content-between footer__bottom top-border">
            <p>
                Dark Render &copy; 2019 All rights reserved | Made with <i class="fa fa-heart" aria-hidden="true"></i>
                by <a
                    href="https://night-sky-studios.com" target="_blank">Night Sky Studios</a>
            </p>
            <ul class="social-icons mt-2 mt-sm-0">
                <li><a href="https://api.whatsapp.com/send?phone=380731330759" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/darkrender.studio/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.behance.net/darkrender" target="_blank"><i class="fab fa-behance"></i></a></li>

            </ul>
        </div>
    </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143804328-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143804328-1');
</script>
