{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:site_name" content="Dark Render"/>
    <meta property="og:title" content="DARK-RENDER is a creative studio that produces high-end visualizations. "/>
    <meta property="og:description"
          content="DARK RENDER is based in the beautiful city of Lviv, where historical buildings hide a buzzing party, food and art scene.The DARK RENDER team is comprised of a diverse and skillful group of professionals who hail from over 4 different countries."/>
    <meta property="og:url" content="https://dark-render.com/">
    <meta property="og:type" content="art-studio"/>
    <meta name="google-site-verification" content="QgCDHyZbmSZjBfl99MtT5aVL-MFlKhlVwKzCj5h0HAw"/>
    <meta property="og:image" content="{% static 'img/LOGO_FIN.png' %}">
    <meta name="description"
          content="We model full detailed building in 3D, our artists will create atmospheric photo realistic images, to your liking">
    <meta name="robots" content="index, follow">
    <meta name="keywords"
          content="render studio, exterior render, darkness render, photorealistic 3d furniture, 3d exterior render, studio render"/>

    <title>Dark Render | Create your 3D Exterior render</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static 'vendor/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% include 'gtags_head.html' %}
    <script src="{% static 'js/isotope.pkgd.js' %}"></script>
</head>
<body>
{% include 'gtags_body.html' %}
{% include 'hamburger.html' %}
<header>
    <div class="hero">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/LOGO_FIN.png' %}" alt="">
        </a>

        <div class="owl-carousel owl-theme heroCarousel">
            {% for item in slider %}
                <div class="item">
                    <div class="hero__slide">
                        <img src="{{ item.image.url }}" alt="">
                        <div class="hero__slideContent text-center">
                            <h1>{{ item.title }}</h1>
                            <p>{{ item.description }}</p>
                            <a class="btn btn--leftBorder btn--rightBorder"
                               href="{% url 'projects' %}?filter={{ item.category }}">View More</a>
                            <span class="hero__slideContent--right"></span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</header>

<section class="about section-margin mb-5">
    <div class="container">
        <div class="row align-items-center about-center">
            <div class="col-md-5">
                <div class="about__img text-center text-md-left mb-5 mb-md-0">
                    <picture>
                        <source srcset="{% static 'img/index/portret.webp' %}" type="image/webp">
                        <img class="img-fluid" src="{% static 'img/index/portret.png' %}" alt="">
                    </picture>
                </div>
            </div>
            <div class="col-md-7 pl-xl-5">
                <div class="section-intro">
                    <h4 class="section-intro__title">About our Company</h4>
                    <h2 class="section-intro__subtitle">WHO WE ARE?</h2>
                </div>
                <p>DARK-RENDER
                    Is a creative studio that produces high-end visualizations. We provide our clients with top-class
                    photorealistic 3D renderings including still images, animations, virtual reality spaces and virtual
                    tours. We bring designs to life with the latest technologies. <br><br> We work with the whole world
                    from 2015 .</p>
                <p>Founder : Orest Moskal</p>
                <a class="btn btn--rightBorder mt-4" href="{% url 'about' %}">Read More</a>
            </div>
        </div>
    </div>
</section>


<section class="overview">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
                <div class="media align-items-center overview__single">
                    <span class="overview__single__icon"><i class="ti-crown"></i></span>
                    <div class="media-body">
                        <h3>176</h3>
                        <p>Projects done</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
                <div class="media align-items-center overview__single">
                    <span class="overview__single__icon"><i class="ti-user"></i></span>
                    <div class="media-body">
                        <h3>8</h3>
                        <p>3D Artists</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<section class="portfolio section-margin">
    <div class="px-3">
        <div class="section-intro" style="text-align: center;">
            <h4 class="section-intro__title">OUR PORTFOLIO</h4>
            <h2 class="section-intro__subtitle bottom-border align-items-center">Services</h2>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0 px-0">
                <div onclick="" class="portfolio__img">
                    <a href="{% url 'projects' %}?filter=EX">
                        <picture>
                            <source srcset="{% static 'img/index/2_2.webp' %}" type="image/webp">
                            <img class="img-fluid" src="{% static 'img/index/2_2.jpg' %}" alt=""> {# TODO:change #}
                        </picture>
                        <picture>
                            <source srcset="{% static 'img/index/2.webp' %}" type="image/webp">
                            <img class="img-fluid img-absolute" src="{% static 'img/index/2.jpg' %}" alt="">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="col-md-6 pl-xl-5">
                <h4 class="section-intro__title left-border">Visual</h4>
                <h2 class="section-intro__subtitle small">Exterior Visualization </h2>
                <p style="margin-bottom: 0;">We model full detailed building in 3D, our artists will create atmospheric
                    photo realistic images, to your liking</p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 pr-xl-5 order-2 order-md-1">
                <h4 class="section-intro__title left-border">Modeling</h4>
                <h2 class="section-intro__subtitle small">Furniture Modeling</h2>
                <p style="margin-bottom: 0;">You send drawings and materials images, and we create High Poly Model.
                    <br>
                    With UW map, and provide High Resolution images of furniture
                </p>

            </div>
            <div class="col-md-6 mb-4 mb-md-0 order-1 order-md-2 px-0">
                <div onclick="" class="portfolio__img">
                    <a href="{% url 'projects' %}?filter=FR">
                        <picture>
                            <source srcset="{% static 'img/index/1_1.webp' %}" type="image/webp">
                            <img class="img-fluid" src="{% static 'img/index/1_1.jpg' %}" alt=""> {# TODO:change #}
                        </picture>
                        <picture>
                            <source srcset="{% static 'img/index/1.webp' %}" type="image/webp">
                            <img class="img-fluid img-absolute" src="{% static 'img/index/1.jpg' %}" alt="">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0 px-0">
                <div onclick="" class="portfolio__img">
                    <a href="{% url 'projects' %}?filter=IT">
                       <picture>
                            <source srcset="{% static 'img/index/3_3.webp' %}" type="image/webp">
                            <img class="img-fluid" src="{% static 'img/index/3_3.jpg' %}" alt=""> {# TODO:change #}
                        </picture>
                        <picture>
                            <source srcset="{% static 'img/index/3.webp' %}" type="image/webp">
                            <img class="img-fluid img-absolute" src="{% static 'img/index/3.jpg' %}" alt="">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="col-md-6 pl-xl-5">
                <h4 class="section-intro__title left-border">Visual</h4>
                <h2 class="section-intro__subtitle small">Interior Visualization</h2>
                <p style="margin-bottom: 0;">Provide interior images with detailed materials and lights </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 pr-xl-5 order-2 order-md-1">
                <h4 class="section-intro__title left-border">VR Tours</h4>
                <h2 class="section-intro__subtitle small">3D Modeling VR Tours</h2>
                <p style="margin-bottom: 0;">You send drawings and materials images, and we create High Poly Model.
                    <br>
                    With UW map, and provide High Resolution images of furniture
                </p>

            </div>
            <div class="col-md-6 mb-4 mb-md-0 order-1 order-md-2 px-0">
                <div onclick="" class="portfolio__img">
                    <a href="{% url 'vr' %}">
                       <picture>
                            <source srcset="{% static 'img/index/1_1.webp' %}" type="image/webp">
                            <img class="img-fluid" src="{% static 'img/index/1_1.jpg' %}" alt=""> {# TODO:change #}
                        </picture>
                        <picture>
                            <source srcset="{% static 'img/index/1.webp' %}" type="image/webp">
                            <img class="img-fluid img-absolute" src="{% static 'img/index/1.jpg' %}" alt="">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
        <div class="section-intro mt-5" style="text-align: center;">
            <h2 class="section-intro__subtitle bottom-border align-items-center">Our last works</h2>
        </div>
        <div class="portfolio-grid">
            {% for item in projects %}
                <div class="portfolio-item">
                    <img class="portfolio-image" src="{{ item.image.url }}" alt="">
                    <div onclick="" class="overlay">
                        <h2>{{ item.title }}</h2>
                        <span>{{ item.short_description|truncatechars:32 }}</span>
                        <br>
                        <a href="{% url "project_page" item.pk %}" class="sq-button">MORE</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center pt-5 mt-5">
            <a href="{% url 'projects' %}" class="btn btn--rightBorder btn--leftBorder">portfolio</a>
        </div>
    </div>
</section>


<section class="tips tips-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <h2 class="section-intro__subtitle">Get to Know Project Estimate?</h2>
                <p>You need send us, technical task with provided info and references. We calculate the price and time
                    .</p>
            </div>
            <div class="col-lg-5 text-center text-lg-right">
                <a class="btn btn-dark btn--leftBorder btn--rightBorder" href="{% url 'contact' %}">Get Estimate</a>
            </div>
        </div>
    </div>
</section>

<div class="partners " style="margin-top: 5rem">
    <h3 class="section-intro__subtitle bottom-border-center">Partners</h3>
    <span>PARTNERS CONFIDE US</span>
    <div class="partners-grid">
        {% for item in partners %}
            <div class="partners-grid-wraper">
                <a href="{{ item.link }}">
                    <img class="partners-grid-item" src="{{ item.image.url }}" alt="">
                </a>
            </div>

        {% endfor %}
    </div>
</div>

{% include 'footer.html' %}


<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>

<script>

    var heroCarousel = $('.heroCarousel');
    heroCarousel.owlCarousel({
        center: true,
        autoplay: true,
        autoplaySpeed: 5000,
        animateOut: 'fadeOut',
        mergeFit: true,
        loop: true,
        margin: 10,
        nav: false,
        smartSpeed: 450,
        autoHeight: true,
        autoWidth: true,
        startPosition: 1,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            }
        }
    });

    var dropToggle = $('.menu_right > li').has('ul').children('a');
    dropToggle.on('click', function () {
        dropToggle.not(this).closest('li').find('ul').slideUp(200);
        $(this).closest('li').children('ul').slideToggle(200);
        return false;
    });

    $(".toggle_icon").on('click', function () {
        $('body').toggleClass("open");
    });

    let grid = document.querySelector('.portfolio-grid');
    var iso = new Isotope(grid, {
        itemSelector: '.portfolio-item',
        layoutMode: 'masonry',
    });

    function filter(attr) {
        iso.arrange({
            filter: attr
        })
    }

    imagesLoaded(grid).on('progress', function () {
        // layout Isotope after each image loads
        iso.layout();
    });

    filter('.{{ filter }}')
</script>
</body>
</html>
