{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dark Render</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static 'vendor/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'navbar.html' %}
<header>
    <div class="hero">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/LOGO_FIN.png' %}" alt="">
        </a>

        <div class="owl-carousel owl-theme heroCarousel">
            {% for item in slider %}
                <div class="item">
                <div class="hero__slide">
                    <img src="{{ item.image.url }}" alt="">
                    <div class="hero__slideContent text-center">
                        <h1>{{ item.title }}</h1>
                        <p>{{ item.description }}</p>
                        <a class="btn btn--leftBorder btn--rightBorder" href="#/">Details</a>
                        <span class="hero__slideContent--right"></span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</header>

<section class="about section-margin mb-5">
    <div class="container">
        <div class="row align-items-center about-center">
            <div class="col-md-5">
                <div class="about__img text-center text-md-left mb-5 mb-md-0">
                    <img class="img-fluid" src="{% static 'img/about.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-7 pl-xl-5">
                <div class="section-intro">
                    <h4 class="section-intro__title">About our Company</h4>
                    <h2 class="section-intro__subtitle">We've been creating <br> Awesome Since 1992</h2>
                </div>
                <p>If you are looking at blank cassettes on the web lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    Eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>If you are looking at blank cassettes on the web lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt.</p>
                <a class="btn btn--rightBorder mt-4" href="#/">Read More</a>
            </div>
        </div>
    </div>
</section>


<section class="overview">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
                <div class="media align-items-center overview__single">
                    <span class="overview__single__icon"><i class="ti-crown"></i></span>
                    <div class="media-body">
                        <h3>80</h3>
                        <p>Projects done</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
                <div class="media align-items-center overview__single">
                    <span class="overview__single__icon"><i class="ti-user"></i></span>
                    <div class="media-body">
                        <h3>5</h3>
                        <p>Team members</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="portfolio section-margin">
    <div class="px-3">
        <div class="section-intro">
            <h4 class="section-intro__title">OUR PORTFOLIO</h4>
            <h2 class="section-intro__subtitle bottom-border">Latest Completed Projects</h2>
        </div>

        <div class="row align-items-end">
            <div class="col-md-6 mb-4 mb-md-0 px-0">
                <div class="portfolio__img">
                    <img class="img-fluid" src="{% static 'img/port_1.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-md-6 mb-5 pl-xl-5">
                <h4 class="section-intro__title left-border">December, 2018</h4>
                <h2 class="section-intro__subtitle small">Pure Bedroom Architecture</h2>
                <p>If you are looking at blank cassettes on the web lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt.</p>

                <a class="btn btn--rightBorder mt-3" href="#/">Read More</a>
            </div>
        </div>

        <div class="row align-items-end">
            <div class="col-md-6 mb-5 pr-xl-5 order-2 order-md-1">
                <h4 class="section-intro__title left-border">December, 2018</h4>
                <h2 class="section-intro__subtitle small">Pure Bedroom Architecture</h2>
                <p>If you are looking at blank cassettes on the web lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt.</p>

                <a class="btn btn--rightBorder mt-3" href="#/">Read More</a>
            </div>
            <div class="col-md-6 mb-4 mb-md-0 order-1 order-md-2 px-0">
                <div class="portfolio__img">
                    <img class="img-fluid" src="{% static 'img/port_2.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="text-center pt-5 mt-5">
            <button class="btn btn--rightBorder btn--leftBorder">Load More Projects</button>
        </div>
    </div>
</section>


<section class="tips tips-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <h2 class="section-intro__subtitle">Get to Know Project Estimate?</h2>
                <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope.
                    It’s exciting to think about setting up your own viewing station whether that is on the deck</p>
            </div>
            <div class="col-lg-5 text-center text-lg-right">
                <a class="btn btn-dark btn--leftBorder btn--rightBorder" href="{% url 'contact' %}">Get Estimate</a>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}


<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>

<script>
    var testimonialCarousel = $('.testimonialCarousel');
    testimonialCarousel.owlCarousel({
        loop: true,
        margin: 80,
        startPosition: 2,
        nav: false,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            },
            1000: {
                items: 2,
                loop: true
            }
        }
    });

    var heroCarousel = $('.heroCarousel');
    heroCarousel.owlCarousel({
        loop: true,
        margin: 10,
        nav: false,
        startPosition: 1,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            }
        }
    });

    var dropToggle = $('.menu_right > li').has('ul').children('a');
    dropToggle.on('click', function () {
        dropToggle.not(this).closest('li').find('ul').slideUp(200);
        $(this).closest('li').children('ul').slideToggle(200);
        return false;
    });

    $(".toggle_icon").on('click', function () {
        $('body').toggleClass("open");
    });

</script>
</body>
</html>
