{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:site_name" content="Dark Render"/>
    <meta property="og:title" content="DARK-RENDER is a creative studio that produces high-end visualizations. "/>
    <meta property="og:description"
          content="DARK RENDER is based in the beautiful city of Lviv, where historical buildings hide a buzzing party, food and art scene.The DARK RENDER team is comprised of a diverse and skillful group of professionals who hail from over 4 different countries."/>
    <meta property="og:url" content="https://dark-render.com/">
    <meta property="og:type" content="art-studio"/>
    <meta property="og:image" content="{% static 'img/LOGO_FIN.png' %}">
    <meta name="description" content="Provide interior images with detailed materials and lights">
    <meta name="robots" content="index, follow">
    <title>Dark Render | {{ project.title }}</title>


    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static 'vendor/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include "hamburger.html" %}

<header>
    <div class="hero">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/LOGO_FIN.png' %}" alt="">
        </a>

        <div class="owl-carousel owl-theme heroCarousel">
            <div class="item">
                <div class="hero__slide">
                    <img src="{{ project.image.url }}" alt="">
                </div>
            </div>
            {% for photo in gallery %}
                <div class="item">
                    <div class="hero__slide">
                        <img src="{{ photo.image.url }}" number="{{ forloop.counter }}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</header>

<div class="container my-5">
    <h2 class="section-intro__subtitle bottom-border" style="text-align: center;">{{ project.title }}</h2>
    <span class="tiny-fix">
        {{ project.mce_description|safe }}
    </span>
</div>


{% include "footer.html" %}


<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>

.
<script>

    var heroCarousel = $('.heroCarousel');
    heroCarousel.owlCarousel({
        center: true,
        autoplay: true,
        autoplaySpeed: 5000,
        animateOut: 'fadeOut',
        mergeFit: true,
        loop: true,
        margin: 10,
        nav: false,
        smartSpeed: 450,
        autoHeight: true,
        autoWidth: true,
        startPosition: 1,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            }
        }
    });

    var dropToggle = $('.menu_right > li').has('ul').children('a');
    dropToggle.on('click', function () {
        dropToggle.not(this).closest('li').find('ul').slideUp(200);
        $(this).closest('li').children('ul').slideToggle(200);
        return false;
    });

    $(".toggle_icon").on('click', function () {
        $('body').toggleClass("open");
    });
</script>
</body>
</html>
