<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.title }}</title>
</head>
<body>
{% include "hamburger.html" %}

<header class="hero-banner bg-cover" style="background-image: url({{ project.image.url }})">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/LOGO_FIN.png' %}" alt="">
    </a>

    <div class="container">
        <h2 class="section-intro__subtitle">{{ project.title }}</h2>
    </div>
</header>

</body>
</html>